.stats-section {
  padding: 0 8rem;
  background: None;
  text-align: center;
  position: relative;
  border-radius: 32px;
  margin: 2rem auto;
  width: 85%;
}


.stats-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.stat-item {
  text-align: center;
}


.stat-number {
  font-size: 4.25rem !important;
  font-weight: 500 !important;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: #fff;
}

.stat-label {
  font-size: 0.9rem !important;
  color: #94a3b8;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Responsive design */
@media (max-width: 768px) {
  .stats-section {
    padding: 3rem 2rem;
  }
  
  .stats-grid {
    flex-direction: column;
    gap: 4rem;
  }
  
  .stat-number {
    font-size: 8rem;
  }
  
  .stat-label {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .stat-number {
    font-size: 6rem;
  }
  
  .stat-label {
    font-size: 1rem;
  }
}
